<?xml version='1.0' encoding='utf-8'?>
<Root>
	<OutputFolder>
	<Folder>C:/Users/HHH/Documents/HHH/result</Folder>
<Folder>C:/Users/HHH/Desktop/结果</Folder></OutputFolder>
<xmlFIle>
	<File Name="222.xml">H:\PythonProject\ExcelTranslator/Resource/xml\222.xml</File>
</xmlFIle>
<templateFile>
	<File Name="受托报告导入模板-新.xlsx">H:\PythonProject\ExcelTranslator/Resource/templateFile\受托报告导入模板-新.xlsx</File>
</templateFile>
</Root>